h1{
   text-align:center;
    margin-left:-700px;
}
 .container {
     display: flex;
  justify-content: center;
            gap: 70px;
}
 .container1 {
     display: flex;
     justify-content: center;
            gap: 10px;
}
img {
    width:230px;
    height:280px;
}

.box {
  inline-size: 500px;
  overflow: hidden;
}
.bio{
    inline-size: 420px;
  overflow: hidden;
}

.list{
    margin-top:-110px;
margin-left: 110px;
line-height: 1.5;
 background-image: url('border list02f.png');
   background-size: 200px 680px;
   background-repeat: no-repeat;
}

.secondtable table {
    border:1.5px solid white;
    border-collapse: collapse;

}
 .secondtable td{
border:1.5px solid white;
border-collapse: collapse;
   text-align:left;
}

ul {
  list-style-type: none;
  
}
body {
  background-color: black;
  color:white;
}

.minitable{
    line-height:20px;
}
.intro{
    line-height:25px;
}
.bioPara{
     inline-size: 835px;
      overflow: hidden;
}
 .container2 {
     display: flex;
     justify-content: center;
            gap: 0px;
}
button{
    border-radius:3px;
   background-color: rgb(0, 108, 176);
   border:none;
   height: 18px;
   padding:0px 2px 0px 3px;
   margin-top:100px;
}
button:hover{
    background-color:rgb(179, 0, 0);
}
body{
    font-family: calibri;
}
.shrouded{
       display: flex;
            gap: 10px;
}
.shrouded01{
    display: flex;
            gap: 10px;
}
.paranoia{
       display: flex;
            gap: 10px;
}
.paranoia01{
    display: flex;
            gap: 10px;
}
.darkcover{
       display: flex;
            gap: 10px;
}
.darkcover01{
    display: flex;
            gap: 10px;
}
.ulti{
       display: flex;
            gap: 10px;
}
.ulti01{
    display: flex;
            gap: 10px;
}
.tableChapter1 td{
    border:1.5px solid white;
border-collapse: collapse;
   text-align:center;
}
.tableChapter1 table{
    border:1.5px solid white;
border-collapse: collapse;
}
.tableChapter2 td{
    border:1.5px solid white;
border-collapse: collapse;
   text-align:center;
}
.tableChapter2 table{
    border:1.5px solid white;
border-collapse: collapse;
}
.tablePlayerCards td{
    border:1.5px solid white;
border-collapse: collapse;
   text-align:center;
}
.tablePlayerCards table{
    border:1.5px solid white;
border-collapse: collapse;
}
.tablePlayerCards{
    display: flex;
    justify-content: center;
    margin-top:-10px;
}
