h1{
   text-align:center;
    margin-left:-700px;
}
 .container {
     display: flex;
  justify-content: center;
            gap: 70px;
}
 .container1 {
     display: flex;
     justify-content: center;
            gap: 10px;
}
img {
    width:230px;
    height:280px;
}

.box {
  inline-size: 500px;
  overflow: hidden;
}
.bio{
    inline-size: 400px;
  overflow: hidden;
}

.list{
    margin-top:-110px;
margin-left: 110px;
line-height: 1.5;
 background-image: url('border list02f.png');
   background-size: 200px 680px;
   background-repeat: no-repeat;
}

.secondtable table {
    border:1.5px solid white;
    border-collapse: collapse;

}
 .secondtable td{
border:1.5px solid white;
border-collapse: collapse;
   text-align:left;
}

ul {
  list-style-type: none;
  
}
body {
  background-color: black;
  color:white;
}

.minitable{
    line-height:20px;
}
.intro{
    line-height:25px;
}
