h1{
    margin-left:350px;
}
 .container {
     display: flex;
  justify-content: center;
            gap: 70px;
}
 .container1 {
     display: flex;
            gap: 350px;
}
img {
    width:230px;
    height:280px;
}

.box {
  inline-size: 500px;
  overflow: hidden;
}

.list{
    margin-top:-110px;
margin-left: 350px;
line-height: 1.5;
line-width:0.5;
 background-image: url('border list02f.png');
   background-size: 101% 680px;
   background-repeat: no-repeat;
}

.secondtable table {
    border:1.5px solid white;
    border-collapse: collapse;

}
 .secondtable td{
border:1.5px solid white;
border-collapse: collapse;
   text-align:left;
}

ul {
  list-style-type: none;
  
}
body {
  background-color: black;
  color:white;
}
.brah{
     content: "";
  margin: -1em;
  display: block;
  font-size: 24%;

}
.minitable{
    line-height:20px;
}
.intro{
    line-height:25px;
}
